aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-font-white);
    min-width: 15rem;
    overflow: hidden;
}

.create-file-button {
    margin: var(--padding-l);
    background-color: var(--color-button);
    color: var(--color-font-white);
    padding: var(--padding-md);
    border-radius: var(--border-radius-md);
    border-color: var(--color-border);
    border-style: solid;

    &:hover {
        border-color: white;
        box-shadow: 0 0 5px gray;
    }
}

.file-list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
    overflow-y: auto;
}

.file-list-item {
    padding: var(--padding-md);
    border-radius: var(--border-radius-md);
    overflow-x: auto;
    margin-bottom: var(--padding-md);
    &:hover {
        background-color: #363636;
    }
}

.selected-file {
    border: 2px solid white;
    background-color: #363636;
}
