body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-l);
    background-color: var(--color-dark);
    color: var(--color-font-white);
    overflow-x: auto;
    border-bottom: 2px solid var(--color-border);
}

.main-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.hidden{
    display: none;
}