.content-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: auto;
}

.content-list-item{
    display: flex;
    gap: 1rem;
}

.line-number{
    color: var(--color-border);
}

.line-numbers-column-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-content{
    text-wrap: nowrap;
}

.line-content:focus {
    outline: none;
    box-shadow: none;
}