.current-file-name {
    min-height: 1rem;
    color: var(--color-border);
}

.content-area {
    display: flex;
    flex-direction: column;
}

.code-area {
    flex: 1;
    text-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
}

.code-area:focus {
    outline: none;
    box-shadow: none;
}

.highlighted {
    background-color: var(--color-highlight);
    color: black;
}

.user-pointer {
    color: var(--color-background-initial);
}
