@import url("./variables.css");
@import url("./body.css");
@import url("./header.css");
@import url("./aside.css");
@import url("./main.css");
@import url("./prompt.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
